@page "/"
@using Chirp.Core
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    @if (User.Identity?.IsAuthenticated == true)
    {
    <div class="cheepbox">
        <h3>What's on your mind @((await Model.Author).DisplayName)?</h3>
        <form method="post">
            <input style="float: left" type="text" asp-for="Text">
            <input type="submit" value="Share">
        </form>
    </div>
    }

    @if ((await Model.Cheeps).Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in await Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.UserName">@cheep.Author.DisplayName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
