

body {
    background: #deb0c2;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.user-info {
    width: 600px;
    margin: 25px auto;
    padding: 20px;
    background: #fceef4;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-info-title {
    font-size: 2em;
    color: #e97aa8;
    margin-bottom: 20px;
    font-family: 'Verdana', sans-serif;
}

.profile-picture-section {
    margin: 20px 0;
    text-align: center;
}

.profile-picture {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.profile-picture-input {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.info-box {
    width: 100px;
    margin-left: 235px;
    margin-right: 250px;
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid #deb0c2;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.box-content {
    font-size: 1em;
    color: #555;
}

.bio-section {
    margin-top: 0px;
    padding: 15px;
}

.bio-input {
    width: 300px;
    margin-left:100px;
    margin-right:100px;
    margin-top:-10px;
    margin-bottom:10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #333;
    resize: none;
    border: 2px solid #deb0c2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forget-me-section {
    margin-top: 0px;
}

.forget-me-btn:hover {
    background-color: #fac5c5;
    border-color: #fac5c5;
}

.timestamp {
    margin-left: 480px;
}
